<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <script src="https://stockswatch-4iar.herokuapp.com/socket.io/socket.io.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Unica+One' rel='stylesheet' type='text/css'>

  <title>Stocks</title>
</head>
<body>
<div id="app"></div>
</body>
</html>
