.stock-item-container {
  display: flex;

  margin-top: 1em;
  flex-wrap: wrap;
   -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.stock-item {
  margin: .5em .5em .5em .5em;
  width: 15em;
}

.stock-item .header div {
  margin-right: -90px; // super hacky fix to center text
}

.stock-item .header {
  -ms-text-align-last: center;
  text-align-last: center;
  padding: 0;
}

.stock-item .buttons-container {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.stock-item .buttons-container {
}

